/* body {color: white; background: black;} 
h1 { font-size: 2em; font-family:  helvetica, "sans serif"; color : red;}
h2 { font-size: 1.5em; font-family: helvetica, "sans serif"; color : yellow;}
h3 { font-size: 1.2em; font-family:  helvetica, "sans serif"; color : olive;}

p { font-size: 1em; font-family:  "sans serif"; color : green;text-align: justify}
ul { font-size: 1em; font-family:  "sans serif"; color : teal;}
ol { font-size: 1em; font-family:  "sans serif"; color : fuchsia;}
*/

/*
html {
    max-width: 600px;  unos 66 caracteres 
}
*/




/*  todavía no funciona esto:
@viewport{
    zoom: 1.0;
    width: device-width;
}

 y hay que poner esto en la cabecera de todos los html:
<meta name='viewport' content='width=device-width' />
que lo quitaré con sed cuando ya no haga falta
*/

.enlace_preformato { font-family: monospace;}
.centrado{text-align: center;}
.derecha{text-align: right;}
.versalitas {font-variant: small-caps;}
/* Para que los iconos que son enlaces no tengan línea azul alrededor */
img {
  border: none;
}

/* tablas básicas */
.falsos_amigos {
	width: 750px;
	border: 1px solid silver;
}
.falsos_amigos th  {
	border: 1px solid gray;
	font-weight: normal; 
	font-style: italic;
	text-align: center;
}
.falsos_amigos td  {
	border: 1px solid gray;
	font-weight: normal; 
	text-align: center;
}

/* es igual que falsos_amigos */
.griego {
	width: 750px;
	border: 1px solid silver;
}
.griego th  {
	border: 1px solid gray;
	font-weight: normal; 
	font-style: italic;
	text-align: center;
}
.griego td  {
	border: 1px solid gray;
	font-weight: normal; 
	text-align: center;
}

